<div class="form-group">
  <label for="recipeName">Name</label>
  <input type="text"
         class="form-control"
         id="recipeName"
         [(ngModel)]="recipe.name">
</div>
<div class="form-group">
  <label for="recipeDescription">Description</label>
  <input type="text"
         class="form-control"
         id="recipeDescription"
         [(ngModel)]="recipe.description">
</div>
<div class="form-group">
  <div class="row">
    <div class="col-xs-6">
      <div class="image">
        <img [src]="recipe.imagePath">
      </div>
    </div>
    <div class="col-xs-6">
      <button class="btn btn-primary"
              (click)="changeToRandomImage()">change to random image
      </button>
    </div>
  </div>
</div>
<div class="form-group">
  <label for="recipeIngredientsName">Ingredients</label>
  <div *ngFor="let ingredient of recipe.ingredients; let i = index"
       class="row ingredient">
    <div class="col-xs-4">
      <input type="text"
             class="form-control"
             id="recipeIngredientsName"
             [(ngModel)]="ingredient.name">
    </div>
    <div class="col-xs-4">
      <input type="number"
             class="form-control"
             id="recipeIngredientsAmount"
             [(ngModel)]="ingredient.amount">
    </div>
    <div class="col-xs-4">
      <button class="btn btn-primary"
              (click)="deleteIngredient(i)">delete ingredient
      </button>
    </div>
  </div>
  <button class="btn btn-primary" (click)="addIngredient()">add ingredient</button>
</div>

<button class="btn btn-success" (click)="save()">Save</button>
